#TOC {
  position: fixed;
  left: 0;
  top: 60px;
  width: 250px;
  height: calc(100% - 60px);
  overflow-y: auto;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding: 20px;
}

.tocify {
  width: 100% !important;
}

.tocify .list-group-item {
  border-radius: 0px !important;
}

body {
  padding-left: 270px;
}

@media (max-width: 991px) {
  #TOC {
    display: none;
  }
  body {
    padding-left: 0;
  }
}